{% extends "base.html" %}

{% block title %}Todo - {{ request.user }}{% endblock title %}

{% block content %}
    <section>
        <h3>Todo List</h3>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Date Expired</th>
                    <th>Description</th>
                    <th>Progress</th>
                    <th>Operações</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td>{{ task.title }}</td>
                        <td>{{ task.category }}</td>
                        <td>{{ task.status }}</td>
                        <td>{{ task.priority }}</td>
                        <td>{{ task.date_expired }}</td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.get_progress_points }} <button type="button" id="markId" class="{{ task.id }}">Mark</button></td>
                        <td><a href="{% url 'task_update' task.id %}">Editar</a></td>
                        <td><a href="{% url 'task_delete' task.id %}">Deletar</a></td>
                    </tr>
                {% empty %}
                    <td>Nenhuma Task adicionado!</td>
                {% endfor %}
                    
                </tr>
            </tbody>
        </table>
    </section>
    <section>
        <h4>Create Task</h4>
        <a href="{% url 'task' %}">Add Task</a>
    </section>

    <script>

        const mark_button = document.querySelector("#markId")

        const taskId = mark_button.classList.value

        const fetchProgress = async (id) => {
            try {
                    const response = await fetch(`task/progress/${id}`, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}' // Agora com CSRF para seguranca
                        },
                    });
                    if (!response.ok) {
                        throw new Error('Error in request');
                    }

                    const data = await response.json();
                    console.log(data)
                    
                } catch (error) {
                    console.error('Error', error);
                }
        }
        
        mark_button.addEventListener("click",  async() => {
            if (mark_button.textContent !== "Marked"){
                await fetchProgress(taskId);
                mark_button.textContent = "Marked"
            }
            else 
                mark_button.textContent = "Mark"
            //window.onload(()=>{})
            console.log(mark_button.textContent)

        });
</script>
{% endblock content %}

