{% extends "base.html" %}

{% block title %}Typing New Password{% endblock title %}

{% block content %}
    <section>
        <form action="{% url 'reset-password' user.id %}" method="post">
            {% csrf_token %}
            <h3>{{ user.username }}</h3>
            <p>Enter a new password and confirm it.</p>
            <input type="password" name="password" id="password_reset_id" placeholder="********">
            <input type="password" name="confirm_password" id="confirm_password_reset_id" placeholder="********">
            <button type="submit">Reset</button>
        </form>
    </section>
{% endblock content %}