{% extends "base.html" %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
    <section>
        <form action="{% url 'reset-password-view' %}" method="post">
            {% csrf_token %}
            <p>Enter your email associated with your account, to reset your password!</p>
            <input type="email" name="email_reset" id="email_reset_id" placeholder="your@mail.com">
            <button type="submit">Reset</button>
        </form>
    </section>
{% endblock content %}